*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* .body{
  background-color: black;
} */
nav{
  display: flex;
  justify-content:space-around;
}

.avDiv{
  background-color: rgb(232, 230, 230);
  border: 2px solid black;
}