.about-container {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem;
}

.about-heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1; 
  margin: 10vh;
}

.about-left, .about-right {
  flex-basis: calc(50% - 20px);
  margin-bottom: 1rem;
}

.about-left p, .about-right p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.about-left p::before, .about-right p::before {
  content: '✔';
  color: green;
  margin-right: 10px;
  font-size: 1.2rem;
}

@media (max-width: 960px) {
  .about-content {
    flex-direction: column;
  }

  .about-left, .about-right {
    flex-basis: 100%;
  }

  .about-left p, .about-right p {
    margin-bottom: 1rem;
  }
}
