main {
  background-color: rgb(0, 0, 0);
  height: 82vh;
  width: 100%;
  display: flex;
  padding: 0 4rem;
}

.hero-main-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 70vh;
  gap: 10px;
}

.hero-div-1 {
  color: #a5a5a5;
}

.hero-h1 {
  color: #fcd405;
  letter-spacing: 0.125rem;
  font-family: Open Sans, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
}

.hero-div-2 {
  color: #a5a5a5;
}

.hero-h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 1.3;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: 700;
}

.hero-div-3 {
  color: #a5a5a5;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 0.35rem;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 10px;
}

.hero-h3 {
  color: #a5a5a5;
}

.hero-div-4 {
  color: #a5a5a5;
}

.hero-main-div-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;

  margin-right: 10px;
}

.hero-main-div-2-img {
  width: 30%;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main-div-2-img img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.hero-main-div-2 {
  position: relative;
  height: 100vh;
}

.square {
  position: absolute;
  width: 50px;
  height: 50px;
}

.pink {
  background-color: rgb(176, 91, 106);
  top: 10%;
  left: 10%;
  animation: rotate-slow 20s linear infinite;
  width: 5px;
}

.yellow {
  background-color: yellow;
  top: 15%;
  right: 30%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: move-up-down 5s ease-in-out infinite;
}

.blue {
  background-color: blue;
  top: 70%;
  width: 40px;
  height: 40px;
  right: 5%;
  animation: rotate-fast 5s linear infinite;
}

.light-yellow {
  background-color: #d0d018;
  bottom: 25%;
  left: 30%;
  width: 20px;
  height: 20px;
  animation: move-left-right 7s linear infinite;
}

@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(calc(360deg * 1));
  }
  20% {
    transform: rotate(calc(360deg * 3));
  }
  80% {
    transform: rotate(calc(360deg * 4));
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

@keyframes rotate-fast {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(calc(360deg * 0.5));
  }
  40% {
    transform: rotate(calc(360deg * 3));
  }
  80% {
    transform: rotate(calc(360deg * 3 + 360deg * 0.5));
  }
}

@keyframes move-up-down {
  0%,
  100% {
    transform: translateY(0);
    border-radius: 0%;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  }
  25%,
  75% {
    transform: translateY(-40px);
    transition: transform 0.5s ease-in-out;
  }
  50% {
    border-radius: 50%;
    transition: border-radius 1s ease-in-out;
  }
}

@keyframes move-left-right {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(-50px) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .square {
    width: 30px;
    height: 30px;
  }
}
